@import "tailwindcss";

.sidebar {
  width: 200px;
  height: 100vh;
  background: #0f0f0f;

  position: fixed;
  top: 70px; /* 🔥 below navbar */
  left: 0;
}

.sidebar p {
  padding: 12px 15px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;
}

.sidebar p:hover {
  background: #272727;
}